<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width">

        {% stylesheet main %}

        <meta property="og:title" content="{{ site.title }}">
        <meta property="og:description" content="{{ site.description }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ site.url }}">
        <meta property="og:image" content="{{ site.url }}{% asset_path preview.jpg %}">
    </head>
    <body>
        {{ content }}

        <div class="credits">
            Photography by <a href="http://www.flickr.com/photos/melaniemarsman/" target="_blank">Melanie Marsman</a>
        </div>
    </body>
</html>
